*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    width: 100%;
    display: grid;

    place-content: center;

    background-color: rgb(50, 50, 240);

    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ul__navbar{
    list-style: none;

    display: flex;
    flex-direction: row;

    gap: 30px;
}

.ul__navbar a{
    color: white;
    list-style: none;

    text-decoration: none;
}

.ul__navbar li:hover{
    background-color: rgb(19, 19, 239);
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-top: 70px;
}

.content img{
    height: 700px;
    width: 700px;
}