*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.caja{
    background-color: black;
    color: white;

    margin: 20px;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    place-content: center;

    height: auto;
    width: auto;

    border-radius: 10px;
}

.encabezado{
    grid-column: 1 / span 9;
    text-align: center;
    font-size: 1.5rem;
}

.info{
    font-size: 1.2rem; 
}

.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info ul > li{
    padding-bottom: 1rem;
}

.info li{
    list-style: none;
    text-decoration: none; 
}

.subtitulos{
    color: orange;
}

#lista1{
    grid-column: 1 / span 2;
}

#lista2{
    grid-column: 3/ span 4;
}